<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-4" ng-show="ctrl.entries.length > 0" ng-repeat="entry in ctrl.getAllEntries()">
            <div class="thumbnail">
                <img src="{{ entry.article.imageUri }}">
                <div class="caption">
                    <h3>{{ entry.article.name }}</h3>
                    <strong>Details: </strong>
					<p>{{ entry.article.description}}</p>
                    <strong>Price: </strong> {{ entry.article.price | currency : '€' }}
                    <p></p>
                    <strong>In Warenkorb: </strong> {{ entry.amount }}
                    <button ng-click="ctrl.increaseAmount(entry)">add</button>
                    <button ng-click="ctrl.decreaseAmount(entry)">remove</button>
                </div>
            </div>
        </div>
        <div ng-hide="ctrl.getAllEntries().length > 0">
            <h4>Keine Artikel im Warenkorb. Gehen sie shoppen! :)</h4>
        </div>
    </div>
</div>