<div class="col-sm-4">
	<div>
		<p></p>
		<input type="text" class="form-control" placeholder="Artikelname" ng-model="ctrl.name"></input>
	</div>
	<div>
		<p></p>
		<input type="number" class="form-control" placeholder="Preis" ng-model="ctrl.price"></input>
	</div>
	<div>
		<p></p>
		<input class="form-control" placeholder="Beschreibung" ng-model="ctrl.description"></input>
	</div>
	<div>
		<p></p>
		<button class="btn btn-default" ng-click="ctrl.addArticle()">Add Article</button>
	</div>
</div>
