<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-4" ng-repeat="article in ctrl.getAllArticles()">
            <div class="thumbnail">
                <img src="{{ article.imageUri }}">
                <div class="caption">
                    <h3>{{ article.name }}</h3>
                    <strong>Details: </strong>
					<p>{{ article.description}}</p>
                    <strong>Price: </strong> {{ article.price | currency }}
                    
                </div>
            </div>
        </div>
    </div>
</div>