#headerdiv {
	height: 15%;
	width : 77%;
	top: 0px;
	left:0px;
	position: relative;
	float: right;
}
#sidebarNavigation {
	min-height: 85%;
	width: 23%;
	left: 0px;
	position: relative;
	background-color: #EEEEEE;
	height: auto !important;
}
#body {
	position: relative;
	float: right;
	min-height: 85%;
	width: 77%;
	height: auto !important;
}
#navigation {
	height: 100px;
	top: 20px;
	left: 250;
}
#placeholder {
	position: relative;
	height: 15%;
	width: 23%;
	text-align: center;
}